@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-options {
  justify-content: end;
}

.container-wrapper-nav {
  max-width: none;
}

.service-card {
  background-color: #ededed;
}

.service-title {
  font-weight: 700;
  padding-bottom: 20px;
}

.appointment-wrapper {
  background-color: #c2cdde;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
}

.slick-slider {
  width: 100% !important;
}